<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Condition</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>For Enquiry</h4>
                <ul>
                    <li><a href=""><i class="fas fa-location"></i>near sani dev mandir
                        Jatepur North
                        Gorakhpur, Uttar Pradesh 273017
                        India</a></li>
                    <li><a href=""><i class="fas fa-message"></i>rishabhsrivastava66@gmail.com</a></li>
                    <li><a href=""><i class="fas fa-phone"></i>727555560</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Opening</h4>
                <ul>
                    <li><a href="#">Monday-Saturday</a></li>
                    <li><a href="#">11:00 AM - 10:00 PM</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follows Us</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/script.js"></script>
</body>

</html>