<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foot-o-Meter</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Dancing+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block head %}{% endblock %}
</head>

<body>
    <header class="header">
        <a href="/" class="logo"><img src="/static/img/logo.png" alt=""></a>
        <nav class="navbar">
            <a href="/" class="{% if request.path == '/'%} active {% endif %}">Home</a>
            <a href="/aboutus/" class="{% if request.path == '/aboutus/' %} active {% endif %}">About Us</a>
            <a href="/services/" class="{% if request.path == '/services/' %} active {% endif %}">Services</a>
            <a href="/menu/" class="{% if request.path == '/menu/' %} active {% endif %}">Menu</a>
            <a href="/contactus/" class="{% if request.path == '/contactus/' %} active {% endif %}">Contact Us</a>
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search"id="search-btn"></div>
           <a href="/cart/"> <div class="fas fa-shopping-cart"id="cart-btn"><span>{{ Profile.cart_count }}</span></div></a>
            <div class="fas fa-user"id="login-btn"></div>
        </div>
        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="Search">
            <label for="search-box" class="fas fa-search"></label>
        </form>
        <div class="login-box">
            {% if user.is_authenticated %}
            <a href="/dashboard/"><li>Dashboard</li></a>
            <a href="{% url 'logout' %}"><li>Logout</li></a>
            {% else %}
            <a href="login/"><li>Login</li></a>
            {% endif %}
        </div>
    </header>
