{% extends "base.html" %}

{% block content %}
<section class="banner">
    <img src="/static/img/services.jpg" alt="">
</section>
    <section class="services">
        <div class="container">
            <div class="feature">
                <div class="card">
                    <img src="/static/img/person.png" alt="">
                    <h2>Master Chefs</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptate minus voluptatem
                        accusantium perspiciatis tenetur consequuntur enim ipsam, alias amet.</p>
                </div>
                <div class="card">
                    <img src="/static/img/food-dish-icon.png" alt="">
                    <h2>Quality Food</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptate minus voluptatem
                        accusantium perspiciatis tenetur consequuntur enim ipsam, alias amet.</p>
                </div>
                <div class="card">
                    <img src="/static/img/add-item-in-cart-icon.png" alt="">
                    <h2>Online Order</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptate minus voluptatem
                        accusantium perspiciatis tenetur consequuntur enim ipsam, alias amet.</p>
                </div>
                <div class="card">
                    <img src="/static/img/helpdesk-icon.png" alt="">
                    <h2>24/7 Help</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptate minus voluptatem
                        accusantium perspiciatis tenetur consequuntur enim ipsam, alias amet.</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}